argparse==1.2.1
certifi==2017.11.5
chardet==3.0.4
colorama==0.2.5
defectdojo-api==1.0.3
html5lib==0.999
idna==2.6
iniparse==0.4
requests==2.18.4
six==1.5.2
ssh-import-id==3.21
urllib3==1.22
wheel==0.24.0
wsgiref==0.1.2
